.main {
  height: 100vh;
  background-color: rgb(167, 155, 89);
  display: flex;
  justify-content: center;
}

.container {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.greeting {
display: flex;
flex-direction: column;
}

.photo {
  height: 60%;
 width: 30%;
 background-color: brown;
}