.main {
  height: 100vh;
  background: url(../../image/bg.jpg) center center/cover no-repeat;
  display: flex;
  justify-content: center;
  color: #00ffd9;
  font-size: 15px;
  line-height: 25px;
  font-family: 'Press Start 2P', cursive;
  padding: 100px 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.greeting {
  display: flex;
  flex-direction: column;
  font-size: 15px;
}

.greeting h1 {
  font-size: 24px;
  font-weight: 400;
  
}


.greeting span:nth-child(2) {
  font-size: 20px;
}

.greeting span:nth-child(2) span{
  font-size: 35px;
  font-weight: 500;
  line-height: 1.2;
}
.photo {
  background: url('../../image/avatar.jpg') center center/150% no-repeat;
 min-width: 350px;
 min-height: 350px;
 border: 5px solid #2e9989;
 border-radius: 50%;
 /* background-color: brown; */
 /* filter: brightness(40%) */
}

.photo:hover {
  width: 350px;
  height: 350px;
  -webkit-box-shadow: -1px 3px 116px 21px rgba(46,153,137,1);
  -moz-box-shadow: -1px 3px 116px 21px rgba(46,153,137,1);
  box-shadow: -1px 3px 116px 21px rgba(46,153,137,1);
  transition: 0.5s;
}


@media (max-width: 600px) {
  .photo {
   min-width: 300px;
   min-height: 300px;
  }
} 