.skills {
  min-height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.block {
  width: 90%;
  min-height: 60%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.skillOpenTag {
  color: #00ffd9;
  margin-bottom: 100px;
  font-family: 'Press Start 2P', cursive;
}

.skillOpenTag:before {
  content: "<";
}

.skillOpenTag:after {
  content: ">";
}

.skillCloseTag {
  color: #00ffd9;
  margin-top: 100px;
  font-family: 'Press Start 2P', cursive;
}

.skillCloseTag:before {
  content: "<";
}

.skillCloseTag:after {
  content: ">";
}

.skillItems {
  width: 100%;
  min-height: 75%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skillsItem {
  color: white;
  width: 300px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.skillsDescription {
  margin-top: 10px;
  color: white;
  font-family: 'Ubuntu Mono', monospace;
} 

.skillImgReact {
  background-image: url(../../image/skills/react-redux.png);
  width: 100px;
  height: 100px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}


.skillImgHtml {
  background-image: url(../../image/skills/html-css.png);
  width: 100px;
  height: 100px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.skillImgJs {
  background-image: url(../../image/skills/js.png);
  width: 100px;
  height: 100px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.skillImgReact:hover {
  width: 150px;
  height: 150px;
}

.skillImgHtml:hover {
  width: 150px;
  height: 150px;
}

.skillImgJs:hover {
  width: 150px;
  height: 150px;

}

.skillName {
  text-align: center;
  margin-bottom: 10px; 
  font-family: 'Press Start 2P', cursive;
  
}

