@import '../../sass/_variables'
@import '../../sass/_mixins'
  
.about
  min-height: 50vh
  background-color: black
  display: flex
  justify-content: center
  flex-direction: column
  align-items: center
  color: $aqua_color
  padding: 100px 0
  .otag
    @include otag
  .ctag
    @include ctag
  &_container
    width: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
  &_block
    width: 90%
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    height: 50%
  &_description 
    font-family: 'Ubuntu Mono', monospace
    font-size: 20px
    line-height: 25px
    margin-bottom: 30px
    text-align: center
